body {
    background-color: aliceblue;
    margin: 0;
}

.game {
    
    padding-left: 10vw;
    padding-top: 30vh;
}

.canvas {
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    grid-template-rows: repeat(3,1fr);
    width: 300px;
    height: 300px;
    border: solid;
}


.reset {
    margin-top:10px ;
}

.cell {
    border: 1px solid rgba(88, 92, 198, 0.856);
    text-align: center;
    background-color: bisque;
    font-size: 5.2rem;
}
